<h1>Obtaining Data</h1>

### <u>Table of Contents</u>
1. [Introduction](#1)
2. [Import Libraries](#2)
3. [Introduction of ESG Data](#3)
4. [Commonly Used Methods](#4)
5. [Acquiring ESG Data by Year](#5)
6. [Removing Delisted Companies](#6)
7. [Obtaining Stock Data](#7)
8. [Consolidate Stock Data](#8)
9. [Save Results](#9)

<h3><u>Introduction</u></h3> <a id='1'></a>
<p>This notebook will get the ESG data in terms of the year as well as obtain the stock data from 2017-2022. Regarding the stock data, it will get the yearly return for each company, assuming it was bought on the first trading day of the year and sold on the last trading day of the same year.</p>

<h3><u>Import Libraries</u></h3> <a id='2'></a>

In [1]:
import pandas as pd
import yfinance as yf
import re

<h3><u>Introduction of ESG Data</u></h3> <a id='3'></a>
<ul>
    <li>Except the column "file_name", all columns are ESG factors</li>
    <li>For all ESG factors except "negative", the companies have a better ESG performance if they have higher values</li>
</ul>

In [2]:
df = pd.read_csv("hk_norm.csv")
df

,file_name,positive,negative,net_value,total_words,business,cc_words,environment_word,gen_word,philanthrophy,...,health_value,evaluation_value,demo_value,diversity_value,attract_value,net_ratio,posi_ratio,nega_ratio,name,year
0,2017_02236.pdf,17,17,76,21,6,10,10,6,1,...,14,6,27,24,6,68,50,39,02236.pdf,44
1,2017_02166.pdf,1,2,82,4,0,1,1,0,6,...,2,0,4,2,0,66,26,28,02166.pdf,44
2,2017_00438.pdf,3,3,81,3,1,0,2,0,0,...,3,0,6,3,1,61,54,48,00438.pdf,44
3,2017_00690.pdf,4,7,76,6,3,0,5,1,1,...,7,1,9,7,3,45,39,59,00690.pdf,44
4,2017_00405.pdf,19,22,70,24,11,9,13,5,32,...,17,5,17,24,11,61,49,46,00405.pdf,44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5853,2013_00069.pdf,17,14,80,24,11,7,11,8,12,...,7,8,14,27,11,73,44,29,00069.pdf,0
5854,2013_00525.pdf,11,9,81,13,0,0,3,4,3,...,7,4,14,11,0,72,51,35,00525.pdf,0
5855,2013_01088.pdf,46,35,78,49,21,14,21,13,4,...,37,13,34,40,21,75,59,36,01088.pdf,0
5856,2013_00101.pdf,17,15,78,22,6,6,11,10,1,...,6,10,19,17,6,71,48,34,00101.pdf,0
5857,2013_00388.pdf,12,11,78,19,5,0,8,7,24,...,3,7,22,16,5,70,39,30,00388.pdf,0

<h3><u> Commonly Used Methods </u></h3> <a id='4'></a>

In [3]:
def grouping(n: int):
    lst = []
    group = n// 5
    print(f"Total number of stock = {n}")
    end_idx = 0
    for i in range(4):
        lst.append(group + end_idx)
        end_idx += group
        print(f'Group {i+1}: {group}')
    lst.append(n)
    print(f"Group 5: {n-group*4}")
    return lst

def getYealyData(df, year):
    new_df = pd.DataFrame()
    for row in df.index:
        file_name = df.loc[row]['file_name']
        if re.search(f"^{year}", file_name):
            new_df = new_df.append(df.loc[row], ignore_index = True)
    return new_df

def get_stock_data(ticker: str, start_date_1, start_date_2, end_date_1, end_date_2):
    #print(ticker)
    #print(start_date_1)
    stock_start = yf.download(ticker, start=start_date_1, end=start_date_2, group_by='tickers')
    stock_end = yf.download(ticker, start=end_date_1, end=end_date_2, group_by='tickers')
    return stock_start, stock_end

def convertToStockCode(df):
    for i in df.index:
        if df.loc[i]['file_name'][5] == '0':
            name = df.loc[i]['file_name'][6:10] + ".HK"
        else:
            name = df.loc[i]['file_name'][5:10] + ".HK"
        #print(name)
        df.loc[i, 'file_name'] = name
    return df

def tickerToAString(df):
    resultChunk = ""
    for row in df.index:
        resultChunk = resultChunk + " " + df.loc[row]['file_name']
    return resultChunk[1:]

<h3><u>Acquiring ESG Data by Year</u></h3> <a id='5'></a>

In [4]:
df_2017 = convertToStockCode(getYealyData(df, "2017"))
df_2018 = convertToStockCode(getYealyData(df, "2018"))
df_2019 = convertToStockCode(getYealyData(df, "2019"))
df_2020 = convertToStockCode(getYealyData(df, "2020"))
df_2021 = convertToStockCode(getYealyData(df, "2021"))
df_2022 = convertToStockCode(getYealyData(df, "2022"))

<ipython-input-3-00dc6c8a9833>:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(df.loc[row], ignore_index = True)

In [5]:
df_2020.sort_values(by=['positive'], ascending=False)

,file_name,positive,negative,net_value,total_words,business,cc_words,environment_word,gen_word,philanthrophy,...,health_value,evaluation_value,demo_value,diversity_value,attract_value,net_ratio,posi_ratio,nega_ratio,name,year
429,1083.HK,64,59,59,76,17,16,25,18,41,...,61,18,61,61,17,69,52,38,01083.pdf,77
517,0005.HK,59,51,66,51,13,15,25,19,16,...,11,19,39,41,13,68,72,50,00005.pdf,77
383,2196.HK,55,65,42,69,24,18,30,13,14,...,40,13,51,61,24,60,49,47,02196.pdf,77
718,0992.HK,55,47,68,75,29,29,55,18,40,...,28,18,44,51,29,72,45,31,00992.pdf,77
454,1288.HK,53,49,63,62,45,10,12,5,29,...,17,5,60,50,45,68,53,39,01288.pdf,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461,0107.HK,0,0,84,0,0,0,0,0,0,...,0,0,0,0,0,78,0,0,00107.pdf,77
440,2638.HK,0,0,84,0,0,0,0,0,0,...,0,0,0,0,0,37,0,48,02638.pdf,77
205,0106.HK,0,0,84,0,0,0,0,0,0,...,0,0,0,0,0,78,0,0,00106.pdf,77
433,3991.HK,0,0,84,0,0,0,0,0,0,...,0,0,0,0,0,78,0,0,03991.pdf,77
161,2328.HK,0,0,84,0,0,0,0,0,0,...,0,0,0,0,0,78,0,0,02328.pdf,77

In [6]:
print(len(df_2017))
print(len(df_2018))
print(len(df_2019))
print(len(df_2020))
print(len(df_2021))
print(len(df_2022))

675
849
953
1059
1175
1032

<h3><u>Removing Delisted Companies</u></h3> <a id='6'></a>

In [7]:
delisted_17 = ['2379.HK', '0935.HK', '8032.HK', '0803.HK', '0891.HK', 
               '8175.HK', '0678.HK', '3378.HK', '1230.HK', '1192.HK', 
               '8260.HK', '0112.HK', '1678.HK', '2014.HK', '0578.HK', 
               '8101.HK', '6166.HK', '1175.HK', '0263.HK', '8086.HK',
               '1570.HK', '0342.HK', '2118.HK']

delisted_18 = ['2379.HK', '0935.HK', '0803.HK', '0891.HK', '0153.HK', 
               '0678.HK', '3378.HK', '1192.HK', '1230.HK', '0378.HK', 
               '8260.HK', '0112.HK', '1678.HK', '2014.HK', '2686.HK', 
               '0578.HK', '0231.HK', '8101.HK', '0651.HK', '6166.HK', 
               '1175.HK', '1365.HK', '0263.HK', '8086.HK', '1570.HK',
               '4613.HK', '0342.HK', '2118.HK']

delisted_19 = ['0263.HK', '0153.HK', '0651.HK', '0803.HK', '0935.HK', 
               '1678.HK', '1365.HK', '2686.HK', '2379.HK', '0678.HK', 
               '1230.HK', '1192.HK', '0578.HK', '8109.HK', '8101.HK', 
               '1175.HK', '3378.HK', '0378.HK', '1178.HK', '2014.HK', 
               '6166.HK', '8260.HK', '0231.HK', '8086.HK', '0112.HK', 
               '0891.HK', '4613.HK', '1570.HK', '0128.HK', '0342.HK', 
               '2118.HK', '0011.HK']

delisted_20 = ['0112.HK', '0803.HK', '2103.HK', '3344.HK', '2686.HK', 
               '6166.HK', '0651.HK', '6168.HK', '0578.HK', '1230.HK', 
               '0153.HK', '0787.HK', '2379.HK', '1192.HK', '2014.HK', 
               '8086.HK', '0678.HK', '0891.HK', '1365.HK', '8101.HK', 
               '0263.HK', '0935.HK', '0231.HK', '3378.HK', '1570.HK',
               '4613.HK', '1712.HK', '0342.HK', '2118.HK']

delisted_21 = ['1230.HK', '0935.HK', '4836.HK', '3378.HK', '8228.HK', 
               '6166.HK', '2686.HK', '1533.HK', '0395.HK', '4613.HK',
               '1570.HK', '8025.HK', '0678.HK', '8055.HK', '2103.HK', 
               '1175.HK', '8109.HK', '2379.HK', '8086.HK', '8260.HK',
               '8078.HK', '0342.HK', '2118.HK']

delisted_22 = ['1230.HK', '0935.HK', '4836.HK', '3378.HK', '8228.HK', 
               '6166.HK', '2686.HK', '1533.HK', '0395.HK', '4613.HK',
               '1570.HK', '0250.HK', '0680.HK', '9977.HK']

In [8]:
delisted_stocks_2017 = df_2017.query('file_name == @delisted_17')
df_2017.drop(delisted_stocks_2017.index.tolist(), inplace=True)

delisted_stocks_2018 = df_2018.query('file_name == @delisted_18')
df_2018.drop(delisted_stocks_2018.index.tolist(), inplace=True)

delisted_stocks_2019 = df_2019.query('file_name == @delisted_19')
df_2019.drop(delisted_stocks_2019.index.tolist(), inplace=True)

delisted_stocks_2020 = df_2020.query('file_name == @delisted_20')
df_2020.drop(delisted_stocks_2020.index.tolist(), inplace=True)

delisted_stocks_2021 = df_2021.query('file_name == @delisted_21')
df_2021.drop(delisted_stocks_2021.index.tolist(), inplace=True)

delisted_stocks_2022 = df_2022.query('file_name == @delisted_22')
df_2022.drop(delisted_stocks_2022.index.tolist(), inplace=True)

<h3><u>Obtaining Stock Data</u></h3> <a id='7'></a>

In [9]:
ticker_2017 = tickerToAString(df_2017)
ticker_2018 = tickerToAString(df_2018)
ticker_2019 = tickerToAString(df_2019)
ticker_2020 = tickerToAString(df_2020)
ticker_2021 = tickerToAString(df_2021)
ticker_2022 = tickerToAString(df_2022)

In [15]:
ticker_2017

'2236.HK 2166.HK 0438.HK 0690.HK 0405.HK 0152.HK 0293.HK 1608.HK 0950.HK 3828.HK 6816.HK 0467.HK 0171.HK 0694.HK 0019.HK 0732.HK 2128.HK 2014.HK 0611.HK 0363.HK 0137.HK 1476.HK 0242.HK 0578.HK 0423.HK 1585.HK 3678.HK 8195.HK 1240.HK 3996.HK 0665.HK 3866.HK 1738.HK 0560.HK 1213.HK 0353.HK 3399.HK 0396.HK 0274.HK 2016.HK 1185.HK 8425.HK 0334.HK 8191.HK 8175.HK 0489.HK 8128.HK 1112.HK 8100.HK 0245.HK 1446.HK 8270.HK 0687.HK 1303.HK 0691.HK 0547.HK 0574.HK 0393.HK 8159.HK 2380.HK 0072.HK 8113.HK 1058.HK 3377.HK 2099.HK 0663.HK 0753.HK 2039.HK 1588.HK 0762.HK 0268.HK 0291.HK 2000.HK 0205.HK 3899.HK 0329.HK 0966.HK 1030.HK 0893.HK 0809.HK 1316.HK 3311.HK 8286.HK 1928.HK 8066.HK 6822.HK 3378.HK 3383.HK 1008.HK 0765.HK 1194.HK 1330.HK 6133.HK 8296.HK 1133.HK 0004.HK 0683.HK 0719.HK 1340.HK 0046.HK 0570.HK 0542.HK 6099.HK 2066.HK 3618.HK 0913.HK 0346.HK 8211.HK 2669.HK 6886.HK 8178.HK 6881.HK 0392.HK 0135.HK 8188.HK 0157.HK 2738.HK 1717.HK 8411.HK 1586.HK 0311.HK 6138.HK 0312.HK 2289.HK 0817.HK 1238.HK 3778.HK 8179.HK 1678.HK 2777.HK 3360.HK 2319.HK 1266.HK 8329.HK 0612.HK 0976.HK 0033.HK 2348.HK 1570.HK 1061.HK 8283.HK 0253.HK 8232.HK 0219.HK 0201.HK 1599.HK 2358.HK 2088.HK 1803.HK 2233.HK 8027.HK 1575.HK 1301.HK 0842.HK 0978.HK 0316.HK 0023.HK 8331.HK 8292.HK 8337.HK 8139.HK 8349.HK 0703.HK 8076.HK 1656.HK 8045.HK 2012.HK 1120.HK 0743.HK 8333.HK 1513.HK 1572.HK 0800.HK 0883.HK 8033.HK 8282.HK 0236.HK 0185.HK 3322.HK 3320.HK 0210.HK 0935.HK 0641.HK 1039.HK 2218.HK 1297.HK 1072.HK 8246.HK 0778.HK 1929.HK 1313.HK 8203.HK 1210.HK 8032.HK 0347.HK 0813.HK 6808.HK 0089.HK 0303.HK 0698.HK 0326.HK 1699.HK 2226.HK 1085.HK 2607.HK 1823.HK 0769.HK 3808.HK 1052.HK 0585.HK 2878.HK 1090.HK 3882.HK 1262.HK 3989.HK 0112.HK 1075.HK 1205.HK 0066.HK 1199.HK 1203.HK 0643.HK 0357.HK 1919.HK 0522.HK 1448.HK 2030.HK 1528.HK 0829.HK 1966.HK 0257.HK 2120.HK 0175.HK 0106.HK 0297.HK 1888.HK 0148.HK 0048.HK 1117.HK 3898.HK 0011.HK 2020.HK 1788.HK 1812.HK 0288.HK 3889.HK 0168.HK 2378.HK 0255.HK 0195.HK 2018.HK 0419.HK 0818.HK 2389.HK 0626.HK 0432.HK 1359.HK 0688.HK 1108.HK 0670.HK 1811.HK 1281.HK 1053.HK 0640.HK 3336.HK 0005.HK 1658.HK 1910.HK 1862.HK 2866.HK 0289.HK 3333.HK 1635.HK 1993.HK 1766.HK 0107.HK 2196.HK 0678.HK 0200.HK 0038.HK 1799.HK 3606.HK 2355.HK 1076.HK 3698.HK 0342.HK 1065.HK 2338.HK 2600.HK 2007.HK 0012.HK 0528.HK 1831.HK 6136.HK 2388.HK 0551.HK 1898.HK 0369.HK 0956.HK 6198.HK 1070.HK 0003.HK 3788.HK 0173.HK 0902.HK 3328.HK 0239.HK 1083.HK 6899.HK 1866.HK 0891.HK 0103.HK 0588.HK 8310.HK 1127.HK 0941.HK 0888.HK 1972.HK 1816.HK 0929.HK 0831.HK 6116.HK 1361.HK 8187.HK 8007.HK 2638.HK 0317.HK 1171.HK 0045.HK 3988.HK 0576.HK 1988.HK 3993.HK 3958.HK 1398.HK 6818.HK 1055.HK 1368.HK 0857.HK 6178.HK 6837.HK 0939.HK 2208.HK 0525.HK 1071.HK 1211.HK 1288.HK 1618.HK 1033.HK 1302.HK 0819.HK 0386.HK 3968.HK 1776.HK 2333.HK 2628.HK 0763.HK 1299.HK 0914.HK 2318.HK 0998.HK 0388.HK 1088.HK 2386.HK 0548.HK 0338.HK 0991.HK 0874.HK 2799.HK 2343.HK 0008.HK 6823.HK 0016.HK 0315.HK 1079.HK 0659.HK 0825.HK 3998.HK 8086.HK 0225.HK 2309.HK 0333.HK 0331.HK 8093.HK 0862.HK 2698.HK 0737.HK 8427.HK 1221.HK 0247.HK 0083.HK 0391.HK 0841.HK 0638.HK 1229.HK 1315.HK 0475.HK 1566.HK 1175.HK 0226.HK 0156.HK 1348.HK 0655.HK 1195.HK 0412.HK 0803.HK 0375.HK 0294.HK 0259.HK 0216.HK 0160.HK 0627.HK 1443.HK 8021.HK 0040.HK 1662.HK 0896.HK 0985.HK 0332.HK 0126.HK 1627.HK 0919.HK 1142.HK 0855.HK 1660.HK 0276.HK 1047.HK 1001.HK 0973.HK 0280.HK 0057.HK 0918.HK 2368.HK 0252.HK 0384.HK 0959.HK 1123.HK 0321.HK 8347.HK 8299.HK 0674.HK 8300.HK 1466.HK 1830.HK 0224.HK 8320.HK 0213.HK 0030.HK 0684.HK 0101.HK 8326.HK 8193.HK 8072.HK 1536.HK 0464.HK 8200.HK 8319.HK 8161.HK 8220.HK 0401.HK 8277.HK 8069.HK 0223.HK 0130.HK 8260.HK 2668.HK 0403.HK 1733.HK 1633.HK 8269.HK 1667.HK 8295.HK 1559.HK 1105.HK 1271.HK 0336.HK 8023.HK 0052.HK 2138.HK 0738.HK 2382.HK 0992.HK 1245.HK 8356.HK 8428.HK 0794.HK 8222.HK 0417.HK 8080.HK 1400.HK 8053.HK 0657.HK 0179.HK 8057.HK 0923.HK 0482.HK 1225.HK 0573.HK 0969.HK 0486.HK 0866.HK 1622.HK 0557.HK 2078.HK 0355.HK 0617.HK 0078.HK 0120.HK 1188.HK 3600.HK 6869.HK 6865.HK 1328.HK 0951.HK 2341.HK 6166.HK 1681.HK 0747.HK 0828.HK 0943.HK 2700.HK 0619.HK 3363.HK 1165.HK 6889.HK 1272.HK 1461.HK 0925.HK 2266.HK 3395.HK 0895.HK 0608.HK 0265.HK 0767.HK 1223.HK 0679.HK 1293.HK 0058.HK 2307.HK 1177.HK 0061.HK 0251.HK 2899.HK 3768.HK 1028.HK 0661.HK 2186.HK 6123.HK 2727.HK 0090.HK 0521.HK 0837.HK 1958.HK 0498.HK 0123.HK 1252.HK 0154.HK 0258.HK 0604.HK 0385.HK 1556.HK 6888.HK 0672.HK 0836.HK 0981.HK 0124.HK 1321.HK 0371.HK 0520.HK 0845.HK 0425.HK 1138.HK 0702.HK 0686.HK 1115.HK 6196.HK 2281.HK 2238.HK 0493.HK 1110.HK 1103.HK 1375.HK 2118.HK 1798.HK 1250.HK 1338.HK 0034.HK 1202.HK 3969.HK 1201.HK 1963.HK 1569.HK 0096.HK 1889.HK 6826.HK 3369.HK 1239.HK 1628.HK 6882.HK 6128.HK 0637.HK 2001.HK 1623.HK 0921.HK 0063.HK 3669.HK 1057.HK 0270.HK 0397.HK 2320.HK 3398.HK 8101.HK 1685.HK 0110.HK 0865.HK 2280.HK 1527.HK 0127.HK 6122.HK 1176.HK 0579.HK 3800.HK 3608.HK 0631.HK 0094.HK 1051.HK 1918.HK 0228.HK 0420.HK 1458.HK 1198.HK 1508.HK 3689.HK 1192.HK 0509.HK 1231.HK 0868.HK 0601.HK 1913.HK 1137.HK 2379.HK 0821.HK 1122.HK 0646.HK 1606.HK 1558.HK 2009.HK 1068.HK 3396.HK 0263.HK 6838.HK 0345.HK 2601.HK 0142.HK 0602.HK 0416.HK 0451.HK 2202.HK 0018.HK 0931.HK 0609.HK 0181.HK 1881.HK 1230.HK 0341.HK 0138.HK 0261.HK 0968.HK 1168.HK 3839.HK 1617.HK 2223.HK 1184.HK 0079.HK 1629.HK'

In [10]:
stock_start_2017, stock_end_2017 = get_stock_data(ticker_2017, '2018-01-02', '2018-01-03', '2018-01-08', '2018-01-09')
# # stock_start, stock_end = get_stock_data(ticker_2022, 2023)
#stock_start = yf.download(ticker_2022, start="2023-01-03", end="2023-01-04", group_by='tickers')
# stock_end = yf.download(ticker_2022, start="2023-10-30", end="2023-10-31", group_by='tickers')

[*********************100%%**********************]  652 of 652 completed

4 Failed downloads:
['3608.HK', '0665.HK', '1103.HK', '0985.HK']: Exception('%ticker%: No data found, symbol may be delisted')

[*********************100%%**********************]  652 of 652 completed

4 Failed downloads:
['3608.HK', '0665.HK', '1103.HK', '0985.HK']: Exception('%ticker%: No data found, symbol may be delisted')

In [11]:
stock_start_2018, stock_end_2018 = get_stock_data(ticker_2018, '2019-01-02', '2019-01-03', '2019-01-07', '2019-01-08')

[*********************100%%**********************]  821 of 821 completed

4 Failed downloads:
['3608.HK', '0665.HK', '1103.HK', '0985.HK']: Exception('%ticker%: No data found, symbol may be delisted')

[*********************100%%**********************]  821 of 821 completed

4 Failed downloads:
['3608.HK', '0665.HK', '1103.HK', '0985.HK']: Exception('%ticker%: No data found, symbol may be delisted')

In [12]:
stock_start_2019, stock_end_2019 = get_stock_data(ticker_2019, '2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07')

[*********************100%%**********************]  921 of 921 completed

3 Failed downloads:
['0665.HK', '1103.HK', '0985.HK']: Exception('%ticker%: No data found, symbol may be delisted')

[*********************100%%**********************]  921 of 921 completed

3 Failed downloads:
['0665.HK', '1103.HK', '0985.HK']: Exception('%ticker%: No data found, symbol may be delisted')

In [39]:
stock_start_2020, stock_end_2020 = get_stock_data(ticker_2020, '2021-01-04', '2021-01-05', '2021-01-08', '2021-01-09')

[*********************100%%**********************]  1030 of 1030 completed
[*********************100%%**********************]  1030 of 1030 completed

In [40]:
stock_start_2021, stock_end_2021 = get_stock_data(ticker_2021, '2022-01-03', '2022-01-04', '2022-01-07', '2022-01-08')

[*********************100%%**********************]  1154 of 1154 completed
[*********************100%%**********************]  1154 of 1154 completed

In [41]:
stock_start_2022, stock_end_2022 = get_stock_data(ticker_2022, '2023-01-03', '2023-01-04', '2023-01-09', '2023-01-10')

[*********************100%%**********************]  1018 of 1018 completed
[*********************100%%**********************]  1018 of 1018 completed

In [42]:
stock_end_2022

           0840.HK                                       1458.HK              \
              Open   High    Low  Close Adj Close Volume    Open  High   Low
Date
2023-01-09   0.187  0.187  0.187  0.187     0.187      0     5.6  5.77  5.46

                  ... 8169.HK                         0966.HK               \
           Close  ...     Low  Close Adj Close Volume    Open   High   Low
Date              ...
2023-01-09  5.73  ...   0.042  0.042     0.042  30000   10.58  10.74  10.4


           Close Adj Close   Volume
Date
2023-01-09  10.5      10.5  5789675

[1 rows x 6108 columns]

<h3><u>Consolidate Stock Data</u></h3> <a id='8'></a>

In [43]:
def aggregateStockDate(ticker_year, stock_start, stock_end, start_date, end_date):
    stock_columns = [
        'Ticker',
        f'Price on {start_date}',
        f'Price on {end_date}',
        'Yearly Profit'
    ]
    stock_df = pd.DataFrame(columns=stock_columns)
    
    ticker_year_list = ticker_year.split()
    for ticker in ticker_year_list:
        start_price = stock_start.loc[start_date][ticker]['Close']
        end_price = stock_end.loc[end_date][ticker]['Close']
        row = pd.DataFrame(
                [[
                    ticker,
                    start_price,
                    end_price,
                    (end_price - start_price)/start_price * 100
                ]], columns = stock_columns  
            )
        stock_df = pd.concat([stock_df, row], ignore_index=True)
    return stock_df

In [44]:
stock_data_2017 = aggregateStockDate(ticker_2017, stock_start_2017, stock_end_2017, '2018-01-02', '2018-01-08')

stock_data_2018 = aggregateStockDate(ticker_2018, stock_start_2018, stock_end_2018, '2019-01-02', '2019-01-07')

stock_data_2019 = aggregateStockDate(ticker_2019, stock_start_2019, stock_end_2019, '2020-01-02', '2020-01-06')

stock_data_2020 = aggregateStockDate(ticker_2020, stock_start_2020, stock_end_2020, '2021-01-04', '2021-01-08')

stock_data_2021 = aggregateStockDate(ticker_2021, stock_start_2021, stock_end_2021, '2022-01-03', '2022-01-07')

stock_data_2022 = aggregateStockDate(ticker_2022, stock_start_2022, stock_end_2022, '2023-01-03', '2023-01-09')

In [45]:
stock_data_2022

       Ticker  Price on 2023-01-03  Price on 2023-01-09  Yearly Profit
0     6918.HK                0.780                0.750      -3.846150
1     6889.HK                5.780                6.000       3.806225
2     8053.HK                0.395                0.380      -3.797472
3     8609.HK                0.250                0.255       1.999998
4     8315.HK                0.395                0.370      -6.329115
...       ...                  ...                  ...            ...
1013  2001.HK                3.790                3.810       0.527704
1014  1773.HK                2.630                2.900      10.266159
1015  1317.HK                0.355                0.355       0.000000
1016  0756.HK                0.070                0.066      -5.714287
1017  2175.HK                3.110                3.110       0.000000

[1018 rows x 4 columns]

<h3><u>Save Results</u></h3> <a id='9'></a>

In [46]:
stock_data_2017.to_csv("stock_data_2017.csv", index=False)

stock_data_2018.to_csv("stock_data_2018.csv", index=False)

stock_data_2019.to_csv("stock_data_2019.csv", index=False)

stock_data_2020.to_csv("stock_data_2020.csv", index=False)

stock_data_2021.to_csv("stock_data_2021.csv", index=False)

stock_data_2022.to_csv("stock_data_2022.csv", index=False)

In [13]:
df_2017.to_csv("ESG_data_2017.csv", index=False)

df_2018.to_csv("ESG_data_2018.csv", index=False)

df_2019.to_csv("ESG_data_2019.csv", index=False)

df_2020.to_csv("ESG_data_2020.csv", index=False)

df_2021.to_csv("ESG_data_2021.csv", index=False)

df_2022.to_csv("ESG_data_2022.csv", index=False)