In [9]:
import pandas as pd

In [10]:
df_2017 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2017.csv')
df_2018 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2018.csv')
df_2019 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2019.csv')
df_2020 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2020.csv')
df_2021 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2021.csv')
df_2022 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2022.csv')
df_2023 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2023.csv')

In [11]:
columns = ['stock_code', 'ESG_2017_rel_date', 'ESG_2018_rel_date', 'ESG_2019_rel_date', 'ESG_2020_rel_date', 'ESG_2021_rel_date', 'ESG_2022_rel_date', 'ESG_2023_rel_date']
df_result = pd.DataFrame(columns=columns)
df_result

Empty DataFrame
Columns: [stock_code, ESG_2017_rel_date, ESG_2018_rel_date, ESG_2019_rel_date, ESG_2020_rel_date, ESG_2021_rel_date, ESG_2022_rel_date, ESG_2023_rel_date]
Index: []

In [12]:
def concatenateData(df_result, df_year):
    for index, row in df_year.iterrows():
        if row['stock_code'] not in df_result['stock_code'].values:
            df_result = df_result.append(row, ignore_index = True)
    return df_result

In [13]:
df_result = concatenateData(df_result, df_2017)
df_result

,stock_code,ESG_2017_rel_date,ESG_2018_rel_date,ESG_2019_rel_date,ESG_2020_rel_date,ESG_2021_rel_date,ESG_2022_rel_date,ESG_2023_rel_date
0,00016.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00315.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01079.HK,22/12/2017,NaN,NaN,NaN,NaN,NaN,NaN
3,00717.HK,21/12/2017,NaN,NaN,NaN,NaN,NaN,NaN
4,00659.HK,21/12/2017,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
1315,08368.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1316,01970.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1317,00008.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1318,06823.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1319,01161.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
print(df_result.loc[df_result['stock_code'] == '00254.HK'])

Empty DataFrame
Columns: [stock_code, ESG_2017_rel_date, ESG_2018_rel_date, ESG_2019_rel_date, ESG_2020_rel_date, ESG_2021_rel_date, ESG_2022_rel_date, ESG_2023_rel_date]
Index: []