In [89]:
import pandas as pd
from datetime import datetime

In [90]:
df_2017 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2017.csv')
df_2018 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2018.csv')
df_2019 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2019.csv')
df_2020 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2020.csv')
df_2021 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2021.csv')
df_2022 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2022.csv')
df_2023 = pd.read_csv('../scrapeResult/stock_ESG_Report_Collected_2023.csv')

In [91]:
columns = ['stock_code', 'ESG_2017_rel_date', 'ESG_2018_rel_date', 'ESG_2019_rel_date', 'ESG_2020_rel_date', 'ESG_2021_rel_date', 'ESG_2022_rel_date', 'ESG_2023_rel_date']
df_result = pd.DataFrame(columns=columns)
df_result

Empty DataFrame
Columns: [stock_code, ESG_2017_rel_date, ESG_2018_rel_date, ESG_2019_rel_date, ESG_2020_rel_date, ESG_2021_rel_date, ESG_2022_rel_date, ESG_2023_rel_date]
Index: []

In [92]:
def concatenateData(df_result, df_year):
    for index, row in df_year.iterrows():
        if row['stock_code'] not in df_result['stock_code'].values:
            df_result = df_result.append(row, ignore_index = True)
        else:
            for col in columns[1:]:
                if pd.isna(row[col]) is False:
                    if pd.isna(df_result[col].loc[df_result['stock_code'] == row['stock_code']].values[0]) is True:
                        df_result[col].loc[df_result['stock_code'] == row['stock_code']] = row[col]
                    else:
                        new_date = datetime.strptime(row[col], '%d/%m/%Y').date()
                        old_date = datetime.strptime(df_result[col].loc[df_result['stock_code'] == row['stock_code']].values[0], '%d/%m/%Y').date()
                        if new_date > old_date:
                            df_result[col].loc[df_result['stock_code'] == row['stock_code']] = row[col]
                else:
                    continue
    return df_result

In [93]:
df_result = concatenateData(df_result, df_2017)
df_result = concatenateData(df_result, df_2018)
df_result = concatenateData(df_result, df_2019)
df_result = concatenateData(df_result, df_2020)
df_result = concatenateData(df_result, df_2021)
df_result = concatenateData(df_result, df_2022)
df_result = concatenateData(df_result, df_2023)
df_result

,stock_code,ESG_2017_rel_date,ESG_2018_rel_date,ESG_2019_rel_date,ESG_2020_rel_date,ESG_2021_rel_date,ESG_2022_rel_date,ESG_2023_rel_date
0,00016.HK,31/12/2018,23/12/2019,30/11/2020,30/11/2021,06/10/2022,04/10/2023,NaN
1,00315.HK,24/12/2018,29/12/2019,28/12/2020,30/11/2021,30/11/2022,26/09/2023,NaN
2,01079.HK,22/12/2017,29/11/2018,04/12/2019,08/12/2020,23/11/2021,27/10/2022,27/10/2023
3,00717.HK,27/12/2018,09/01/2020,06/01/2021,28/01/2022,19/01/2023,NaN,NaN
4,00659.HK,21/12/2017,17/12/2018,18/12/2019,22/10/2020,20/10/2021,NaN,17/10/2023
...,...,...,...,...,...,...,...,...
2579,40852.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2580,40853.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2581,40854.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2582,40253.HK,NaN,NaN,NaN,NaN,NaN,27/03/2023,NaN
2583,01833.HK,NaN,NaN,NaN,NaN,NaN,22/03/2023,NaN

In [94]:
print(df_result.loc[df_result['stock_code'] == '00254.HK'])

     stock_code ESG_2017_rel_date ESG_2018_rel_date ESG_2019_rel_date  \
1670   00254.HK        28/10/2019        28/10/2019        30/10/2020

     ESG_2020_rel_date ESG_2021_rel_date ESG_2022_rel_date ESG_2023_rel_date
1670        15/07/2021        31/05/2022               NaN        30/10/2023

In [97]:
df_result.to_csv('concatenatedESGData.csv')

In [96]:
# df_result['ESG_2018_rel_date'].loc[df_result['stock_code'] == '08140.HK']