Testing the factor 'positive'
Inital capital - $1,000,000,000
Divide the capital into 10 portfolio
10 long positons
If the stock released its ESG report and its 'positive' factor is >40, long the stock
Each long position will be held till the last trading day of that year

In [49]:
import pandas as pd
import numpy as np
import datetime
import time

In [3]:
initial_capital = 10000000
size_of_portfolio = 0.1
benchmark_score = 40

In [44]:
ESG_data_2017 = pd.read_csv("../divide_ESG_data_into_year/ESG_data_2017.csv")
ESG_data_2017.sort_values(by=['positive'], ascending=False).head(20)

,file_name,positive,negative,net_value,total_words,business,cc_words,environment_word,gen_word,philanthrophy,...,health_value,evaluation_value,demo_value,diversity_value,attract_value,net_ratio,posi_ratio,nega_ratio,name,year
248,0688.HK,63,45,78,69,25,30,30,11,58,...,42,11,62,67,25,76,56,33,00688.pdf,44
267,2196.HK,58,92,6,94,37,13,41,22,69,...,73,22,91,90,37,54,38,49,02196.pdf,44
6,0293.HK,54,32,89,47,21,19,41,24,33,...,18,24,32,42,21,81,71,34,00293.pdf,44
66,0762.HK,53,33,86,52,12,4,6,11,6,...,13,11,48,42,12,79,63,32,00762.pdf,44
356,2799.HK,51,59,46,64,28,6,9,13,35,...,14,13,70,71,28,61,49,46,02799.pdf,44
334,1288.HK,51,46,65,62,29,9,12,7,16,...,16,7,62,57,29,69,50,37,01288.pdf,44
315,1171.HK,50,36,79,45,13,6,12,13,8,...,39,13,43,43,13,75,68,40,01171.pdf,44
326,0857.HK,47,41,69,46,29,41,40,5,0,...,41,5,40,41,29,69,62,44,00857.pdf,44
98,6099.HK,46,38,73,46,10,3,4,7,35,...,7,7,46,40,10,71,62,41,06099.pdf,44
348,0998.HK,46,39,71,55,15,7,11,10,20,...,14,10,49,45,15,71,52,35,00998.pdf,44
546,0836.HK,46,36,76,48,12,25,26,16,6,...,27,16,34,33,12,73,59,37,00836.pdf,44
73,0966.HK,42,33,76,43,12,3,4,4,1,...,21,4,45,41,12,73,61,38,00966.pdf,44
285,1898.HK,42,23,89,29,9,4,10,12,1,...,25,12,22,21,9,84,90,41,01898.pdf,44
465,0992.HK,41,46,56,57,30,24,59,16,11,...,29,16,39,43,30,64,44,40,00992.pdf,44
330,2208.HK,40,15,100,24,7,32,15,7,6,...,10,7,25,23,7,97,100,31,02208.pdf,44
63,0753.HK,40,23,88,34,13,11,14,6,4,...,21,6,41,30,13,82,72,34,00753.pdf,44
531,2727.HK,40,23,87,40,4,13,12,4,12,...,20,4,23,24,4,81,60,29,02727.pdf,44
340,3968.HK,39,37,67,50,21,4,10,10,41,...,14,10,62,51,21,68,49,38,03968.pdf,44
483,0486.HK,37,41,59,64,30,28,40,7,24,...,47,7,49,53,30,67,35,32,00486.pdf,44
560,2238.HK,37,28,78,36,20,11,12,5,12,...,19,5,29,29,20,74,63,38,02238.pdf,44

In [70]:
ESG_report_2017 = pd.read_csv("../processData/concatenatedESGData.csv")
ESG_report_2017

,Unnamed: 0,stock_code,ESG_2017_rel_date,ESG_2018_rel_date,ESG_2019_rel_date,ESG_2020_rel_date,ESG_2021_rel_date,ESG_2022_rel_date,ESG_2023_rel_date
0,0,00016.HK,31/12/2018,23/12/2019,30/11/2020,30/11/2021,06/10/2022,04/10/2023,NaN
1,1,00315.HK,24/12/2018,29/12/2019,28/12/2020,30/11/2021,30/11/2022,26/09/2023,NaN
2,2,01079.HK,22/12/2017,29/11/2018,04/12/2019,08/12/2020,23/11/2021,27/10/2022,27/10/2023
3,3,00717.HK,27/12/2018,09/01/2020,06/01/2021,28/01/2022,19/01/2023,NaN,NaN
4,4,00659.HK,21/12/2017,17/12/2018,18/12/2019,22/10/2020,20/10/2021,NaN,17/10/2023
...,...,...,...,...,...,...,...,...,...
2579,2579,40852.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2580,2580,40853.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2581,2581,40854.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2582,2582,40253.HK,NaN,NaN,NaN,NaN,NaN,27/03/2023,NaN
2583,2583,01833.HK,NaN,NaN,NaN,NaN,NaN,22/03/2023,NaN

In [71]:
ESG_report_2017 = ESG_report_2017.drop(['Unnamed: 0'], axis=1)
ESG_report_2017

,stock_code,ESG_2017_rel_date,ESG_2018_rel_date,ESG_2019_rel_date,ESG_2020_rel_date,ESG_2021_rel_date,ESG_2022_rel_date,ESG_2023_rel_date
0,00016.HK,31/12/2018,23/12/2019,30/11/2020,30/11/2021,06/10/2022,04/10/2023,NaN
1,00315.HK,24/12/2018,29/12/2019,28/12/2020,30/11/2021,30/11/2022,26/09/2023,NaN
2,01079.HK,22/12/2017,29/11/2018,04/12/2019,08/12/2020,23/11/2021,27/10/2022,27/10/2023
3,00717.HK,27/12/2018,09/01/2020,06/01/2021,28/01/2022,19/01/2023,NaN,NaN
4,00659.HK,21/12/2017,17/12/2018,18/12/2019,22/10/2020,20/10/2021,NaN,17/10/2023
...,...,...,...,...,...,...,...,...
2579,40852.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2580,40853.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2581,40854.HK,NaN,NaN,NaN,NaN,NaN,30/03/2023,NaN
2582,40253.HK,NaN,NaN,NaN,NaN,NaN,27/03/2023,NaN
2583,01833.HK,NaN,NaN,NaN,NaN,NaN,22/03/2023,NaN

In [65]:
# ESG_report_2017.loc[ESG_report_2017['stock_code'] == '02196.HK']

In [66]:
#ESG_report_2017.sort_values(by=['ESG_2017_rel_date'], ascending=False)

In [72]:
ESG_report_2017['ESG_2017_rel_date'] = pd.to_datetime(ESG_report_2017['ESG_2017_rel_date'], format='%d/%m/%Y')
ESG_report_2017['ESG_2018_rel_date'] = pd.to_datetime(ESG_report_2017['ESG_2018_rel_date'], format='%d/%m/%Y')
ESG_report_2017['ESG_2019_rel_date'] = pd.to_datetime(ESG_report_2017['ESG_2019_rel_date'], format='%d/%m/%Y')
ESG_report_2017['ESG_2020_rel_date'] = pd.to_datetime(ESG_report_2017['ESG_2020_rel_date'], format='%d/%m/%Y')
ESG_report_2017['ESG_2021_rel_date'] = pd.to_datetime(ESG_report_2017['ESG_2021_rel_date'], format='%d/%m/%Y')
ESG_report_2017['ESG_2022_rel_date'] = pd.to_datetime(ESG_report_2017['ESG_2022_rel_date'], format='%d/%m/%Y')
ESG_report_2017['ESG_2023_rel_date'] = pd.to_datetime(ESG_report_2017['ESG_2023_rel_date'], format='%d/%m/%Y')
ESG_report_2017 = ESG_report_2017.drop(563)
ESG_report_2017.sort_values(by=['ESG_2017_rel_date'], ascending=False).head(50)

,stock_code,ESG_2017_rel_date,ESG_2018_rel_date,ESG_2019_rel_date,ESG_2020_rel_date,ESG_2021_rel_date,ESG_2022_rel_date,ESG_2023_rel_date
1670,00254.HK,2019-10-28,2019-10-28,2020-10-30,2021-07-15,2022-05-31,NaT,2023-10-30
1679,00846.HK,2019-10-10,2019-10-10,NaT,2021-04-21,2022-04-29,2023-04-20,NaT
1685,08341.HK,2019-07-18,2019-07-18,2019-09-23,2020-07-01,2021-09-24,2022-08-16,2023-06-30
1904,08450.HK,2019-03-26,2020-03-17,2021-03-23,2022-02-28,2023-02-28,2023-12-28,NaT
1760,01280.HK,2019-02-21,2019-07-01,2020-06-03,2021-04-27,2022-04-21,2023-04-21,NaT
1659,02324.HK,2019-01-30,2020-01-23,2021-01-28,2022-02-04,2023-01-30,NaT,NaT
519,00691.HK,2018-12-31,2019-05-31,2020-06-30,2021-06-29,2022-05-31,2023-04-19,NaT
0,00016.HK,2018-12-31,2019-12-23,2020-11-30,2021-11-30,2022-10-06,2023-10-04,NaT
1321,08475.HK,2018-12-30,2019-11-29,2020-11-26,2021-11-26,2023-01-20,NaT,NaT
518,01303.HK,2018-12-28,2019-06-28,2020-05-29,2021-05-28,2022-05-13,2023-04-18,NaT
3,00717.HK,2018-12-27,2020-01-09,2021-01-06,2022-01-28,2023-01-19,NaT,NaT
1,00315.HK,2018-12-24,2019-12-29,2020-12-28,2021-11-30,2022-11-30,2023-09-26,NaT
16,00737.HK,2018-12-19,2019-06-14,2020-06-24,2021-05-25,2022-03-24,2023-04-18,NaT
1328,02369.HK,2018-12-10,2019-04-17,2020-04-24,2021-04-29,2022-04-28,2023-04-27,NaT
12,00331.HK,2018-11-30,2019-11-29,2020-11-30,2021-11-29,2022-11-29,2023-10-25,NaT
38,01566.HK,2018-11-26,NaT,2019-10-28,2020-11-26,2022-08-31,2023-07-27,NaT
1011,02211.HK,2018-11-19,2019-10-24,2020-10-15,2021-10-21,2022-10-20,2023-10-19,NaT
17,00122.HK,2018-11-15,2019-11-14,2020-11-12,2021-11-18,2022-11-03,2023-11-17,NaT
22,01002.HK,2018-11-13,2019-11-08,2020-11-13,2021-11-12,2022-11-14,2023-11-10,NaT
178,01622.HK,2018-11-12,NaT,NaT,NaT,NaT,NaT,NaT
94,00592.HK,2018-11-05,2019-10-04,2020-10-14,2022-04-14,NaT,2023-04-27,NaT
1331,00383.HK,2018-10-31,2020-04-28,NaT,2021-04-29,2022-04-28,2023-04-27,NaT
1332,01975.HK,2018-10-30,2019-10-29,2020-10-28,2021-10-28,2022-10-27,2023-10-27,NaT
1333,00399.HK,2018-10-29,2019-10-28,2020-10-28,2021-10-28,2022-08-31,2023-07-28,NaT
51,00294.HK,2018-10-29,2019-10-24,2020-10-29,2021-10-29,2022-08-29,2023-07-31,NaT
45,00029.HK,2018-10-29,NaT,2020-10-28,2021-10-27,2022-10-27,2023-10-26,NaT
65,01360.HK,2018-10-26,2019-10-30,2020-10-19,2021-10-15,2022-10-20,2023-10-31,NaT
181,00348.HK,2018-10-26,2019-10-11,2020-07-20,2021-07-12,2022-05-30,2023-04-26,NaT
108,00224.HK,2018-10-26,2019-10-24,2020-10-30,2021-08-30,2022-07-29,2023-07-28,NaT
280,00558.HK,2018-10-26,2019-10-23,2020-10-23,2021-10-25,2022-08-30,2023-07-25,NaT
59,08021.HK,2018-10-26,2019-10-28,2020-10-28,2021-10-28,2022-09-29,2023-07-30,NaT
50,00375.HK,2018-10-26,2019-10-24,2020-10-29,2021-10-28,2022-08-31,2023-07-28,NaT
52,00259.HK,2018-10-26,2019-09-27,2020-10-16,2021-10-18,2022-08-30,2023-07-26,NaT
158,00789.HK,2018-10-26,2019-07-24,2020-07-20,2021-07-28,2022-07-28,2023-07-25,NaT
37,00475.HK,2018-10-25,2019-10-28,2020-10-19,2021-10-12,2022-08-30,2023-07-21,NaT
53,00216.HK,2018-10-24,2019-10-23,2020-10-22,2021-10-25,2022-08-30,2023-07-26,NaT
54,00160.HK,2018-10-24,2019-10-23,2020-10-22,2021-10-25,2022-08-30,2023-07-26,NaT
327,01050.HK,2018-10-24,2019-10-23,2020-10-28,2021-10-18,2022-08-31,2023-07-28,NaT
1338,02689.HK,2018-10-23,2019-10-29,NaT,NaT,NaT,2023-10-25,NaT
66,00332.HK,2018-10-23,2019-10-24,2020-10-28,2021-10-26,2022-08-26,2023-07-26,NaT
61,00040.HK,2018-10-22,2019-10-23,2020-10-27,2021-10-29,2022-08-31,2023-07-28,NaT
1341,01757.HK,2018-10-19,2019-09-27,2020-09-28,2021-09-16,2022-07-15,NaT,NaT
201,00474.HK,2018-10-19,2019-10-08,2020-10-23,2021-09-21,2022-08-30,2023-07-26,NaT
70,00919.HK,2018-10-19,2019-10-23,2020-10-15,2021-08-31,2022-08-31,2023-07-26,NaT
1339,01341.HK,2018-10-19,2019-10-08,2020-10-23,2021-09-21,2022-08-30,2023-07-26,NaT
73,01326.HK,2018-10-18,2019-10-23,2020-10-27,2021-10-27,2022-10-26,2023-10-27,NaT
139,01667.HK,2018-10-18,2019-09-13,2020-09-29,2021-10-28,2022-08-31,2023-07-27,NaT
263,01226.HK,2018-10-16,2019-10-23,2020-10-21,2021-10-25,2022-08-19,2023-07-28,NaT
83,01001.HK,2018-10-15,2019-08-26,2020-08-21,2021-07-09,2022-07-15,2023-07-14,NaT
63,01662.HK,2018-10-15,2019-09-20,2020-09-08,2021-08-20,2022-07-22,2023-07-20,NaT

In [73]:
#ESG_report_2017 = ESG_report_2017[ESG_report_2017['ESG_2017_rel_date'].dt.year == 2017]
ESG_report_2017.sort_values(by=['ESG_2017_rel_date'], ascending=True)

,stock_code,ESG_2017_rel_date,ESG_2018_rel_date,ESG_2019_rel_date,ESG_2020_rel_date,ESG_2021_rel_date,ESG_2022_rel_date,ESG_2023_rel_date
1116,00264.HK,2017-04-13,2019-04-26,2020-07-30,2021-04-29,2022-05-20,2023-04-27,NaT
698,00303.HK,2017-06-12,2018-06-06,2019-06-06,2020-06-05,2021-06-07,2022-06-08,2023-06-14
689,08103.HK,2017-06-14,2018-07-02,2019-09-27,2020-09-28,2021-09-28,2023-02-07,NaT
688,01929.HK,2017-06-15,2018-06-14,2019-06-14,2020-06-19,2021-06-16,2022-06-16,2023-06-15
627,00241.HK,2017-06-25,2018-07-19,2019-06-09,2020-06-29,2021-06-29,2022-07-05,2023-07-13
...,...,...,...,...,...,...,...,...
2579,40852.HK,NaT,NaT,NaT,NaT,NaT,2023-03-30,NaT
2580,40853.HK,NaT,NaT,NaT,NaT,NaT,2023-03-30,NaT
2581,40854.HK,NaT,NaT,NaT,NaT,NaT,2023-03-30,NaT
2582,40253.HK,NaT,NaT,NaT,NaT,NaT,2023-03-27,NaT
2583,01833.HK,NaT,NaT,NaT,NaT,NaT,2023-03-22,NaT

In [74]:
# for index, row in ESG_report_2017.iterrows():
#     stock_code = row["stock_code"][1:]
#     if stock_code in ESG_data_2017['file_name'].values:
        
#         print(ESG_data_2017.loc[ESG_data_2017['file_name'] == stock_code]['positive'].values[0])
# #     print(stock_code)

In [95]:
start_date = datetime.datetime(2017, 4, 5).date()
columns = ESG_report_2017.columns.values.tolist()
print(columns)
for i in range(1000):
    #print(start_date)
    start_date += datetime.timedelta(days=1)
    for index, row in ESG_report_2017.iterrows():
        stock_code = row['stock_code'][1:]
        for col in columns[1:]:
            if row[col].date() == start_date:
                year = start_date.year
                if year == 2017:
                    try:
                        score = ESG_data_2017.loc[ESG_data_2017['file_name'] == stock_code]['positive'].values[0]
                        print(stock_code, start_date, row[col].date(), year, score)
                    except:
                        print("An exception occurred")
                    #score = ESG_data_2017['positive'].loc[ESG_data_2017['file_name'] == stock_code].values[0]
                    # print(stock_code, start_date, row[col].date(), year, score)
    time.sleep(0.0005)

['stock_code', 'ESG_2017_rel_date', 'ESG_2018_rel_date', 'ESG_2019_rel_date', 'ESG_2020_rel_date', 'ESG_2021_rel_date', 'ESG_2022_rel_date', 'ESG_2023_rel_date']
An exception occurred
0303.HK 2017-06-12 2017-06-12 2017 24
An exception occurred
1929.HK 2017-06-15 2017-06-15 2017 10
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
8425.HK 2017-07-03 2017-07-03 2017 4
8195.HK 2017-07-06 2017-07-06 2017 2
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
0018.HK 2017-07-13 2017-07-13 2017 4
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
0498.HK 2017-07-25 2017-07-25 2017 3
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred
An exception occurred

KeyboardInterrupt:

In [94]:
ESG_data_2017.loc[ESG_data_2017['file_name'] == '0264.HK']['positive'].values[0]

IndexError: index 0 is out of bounds for axis 0 with size 0